@{
    ViewData["Title"] = "Home Page";
}

<table class="table-dark">
  <thead>
    <tr class="table-dark">
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-dark">
      <th scope="row">1</th>
      <td class="table-dark">Mark</td>
      <td class="table-dark">Otto</td>
      <td class="table-dark"></td>
    </tr>
    <tr class="table-dark">
      <th scope="row">2</th>
      <td class="table-dark">Jacob</td>
      <td class="table-dark">Thornton</td>
      <td class="table-dark"></td>
    </tr>
    <tr class="table-dark">
      <th scope="row">3</th>
      <td class="table-dark" colspan="2">Larry the Bird</td>
      <td></td>
    </tr>
  </tbody>
</table>